fail_fast: true

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: debug-statements
        id: trailing-whitespace
        id: end-of-file-fixer

-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.4.5'
    hooks:
    -   id: ruff
        types_or: [ python, pyi, jupyter ]
        args: [--fix]
    -   id: ruff-format
        types_or: [ python, pyi, jupyter ]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
    -   id: mypy
